Button#henry
{
	height: 300;
	font-size: 72;
	label: "I am a button";
	color: #FF0000;
	cornerRadius: 100;
	font-style: italic;
	text-decoration:underline;
}

.panel
{
	style: wide;
	behavior: net.seanhess.bifff.behaviors.TestClick;
	behavior: net.seanhess.bifff.behaviors.Trace(message:"hello");
}

.wide
{
	width: 300;
}